/*Ennemi 8*/
.ennemi8{
    position: absolute;
	width: 20px;
	height: 40px;
    left: 290px;
    top: 530px;
	background: red;
    font-size: 0.5em;
	-moz-border-radius: 50px / 100px;
	-webkit-border-radius: 50px / 100px;
	border-radius: 70px / 100px;
    -moz-animation: pulsate8 2s infinite;
	-webkit-animation: pulsate8 2s infinite;
	animation: pulsate8 2s infinite;
}


@-webkit-keyframes pulsate8 {
  0%,100% {
    -moz-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.5);
    transform: translateY(0);

  }
  50% {
    -moz-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.6);
    transform: translateY(-360px);
  }
}
@-moz-keyframes pulsate8 {
  0%,100% {
    -webkit-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
  }
  50% {
    -webkit-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
  }
}
 @keyframes pulsate8 {
  0%,100% {
    -moz-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    -webkit-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
  }
  50% {
    -moz-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    -webkit-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
  }
}


/*Ennemi 9*/
.ennemi9{
    position: absolute;
	width: 20px;
	height: 40px;
    left: 690px;
    top: 595px;
	background: red;
    font-size: 0.5em;
	-moz-border-radius: 50px / 100px;
	-webkit-border-radius: 50px / 100px;
	border-radius: 70px / 100px;
    -moz-animation: pulsate9 2s infinite;
	-webkit-animation: pulsate9 2s infinite;
	animation: pulsate9 2s infinite;
}


@-webkit-keyframes pulsate9 {
  0%,100% {
    -moz-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.5);
    transform: translateX(0);

  }
  50% {
    -moz-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.6);
    transform: translateX(170px);
  }
}
@-moz-keyframes pulsate9 {
  0%,100% {
    -webkit-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
  }
  50% {
    -webkit-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
  }
}
 @keyframes pulsate9 {
  0%,100% {
    -moz-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    -webkit-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
  }
  50% {
    -moz-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    -webkit-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
  }
}

/*Ennemi 10*/
.ennemi10{
    position: absolute;
	width: 20px;
	height: 40px;
    left: 920px;
    top: 165px;
	background: red;
    font-size: 0.5em;
	-moz-border-radius: 50px / 100px;
	-webkit-border-radius: 50px / 100px;
	border-radius: 70px / 100px;
    -moz-animation: pulsate10 2s infinite;
	-webkit-animation: pulsate10 2s infinite;
	animation: pulsate10 2s infinite;
}


@-webkit-keyframes pulsate10 {
  0%,100% {
    -moz-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.5);
    transform: translateY(0);

  }
  50% {
    -moz-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.6);
    transform: translateY(340px);
  }
}
@-moz-keyframes pulsate10 {
  0%,100% {
    -webkit-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
  }
  50% {
    -webkit-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
  }
}
 @keyframes pulsate10 {
  0%,100% {
    -moz-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    -webkit-box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 1em 0.34em rgba(255, 63, 30, 0.85);
  }
  50% {
    -moz-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    -webkit-box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
    box-shadow: 0 0 3em 1em rgba(255, 63, 30, 0.85);
  }
}




/*son5*/
#son5 {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    transform-origin: 50%;
    z-index: 99;
    background: blue;
    left: 623px;
    top: 95px;
    opacity: 1;
    -moz-animation: son1 1.2s infinite;
	-webkit-animation: son1 1.2s infinite;
	animation: pulsate1 1.2s infinite;
    background: transparent;
    border: 10px solid rgba(0,174,239,1);
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}


@-webkit-keyframes son1 {
  0%,100% {
    transform: scale(0.7);

  }
  50% {
    transform: scale(0.9);
  }
}
@-moz-keyframes pulsate1 {
  0%,100% {
    transform: scale(0.7);

  }
  50% {
    transform: scale(0.9);
  }
}
 @keyframes pulsate1 {
  0%,100% {
    transform: scale(0.7);

  }
  50% {
    transform: scale(0.9);
  }
}



/*son6*/
#son6 {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    transform-origin: 50%;
    z-index: 99;
    background: blue;
    left: 755px;
    top: 717px;
    opacity: 1;
    -moz-animation: son1 1.2s infinite;
	-webkit-animation: son1 1.2s infinite;
	animation: pulsate1 1.2s infinite;
    background: transparent;
    border: 10px solid rgba(0,174,239,1);
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}


@-webkit-keyframes son1 {
  0%,100% {
    transform: scale(0.7);

  }
  50% {
    transform: scale(0.9);
  }
}
@-moz-keyframes pulsate1 {
  0%,100% {
    transform: scale(0.7);

  }
  50% {
    transform: scale(0.9);
  }
}
 @keyframes pulsate1 {
  0%,100% {
    transform: scale(0.7);

  }
  50% {
    transform: scale(0.9);
  }
}
